@model App.Web.Lib.ViewModels.UserVm.Delete
@{
    ViewBag.Title = "Delete User";
}
<div class="page-container">
    <div class="container-fluid">
        <div class="body-content">
            @Html.Partial("_Alert")
            <div class="well well-sm clearfix">
                <p class="pull-left page-title">@ViewBag.Title</p>
                <p class="pull-right page-info">@*empty*@</p>
            </div>
            @*--------------------------------------------------*@
            @*begin: main content*@
            @*--------------------------------------------------*@
            <div class="main-content-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 col-centered">
                        @using (Html.BeginForm("Delete", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.UserId)
                            <div class="panel panel-danger">
                                <div class="panel-heading"><span class="fa-stack"><i class="fa fa-fw fa-trash "></i></span>Delete User</div>
                                <div class="panel-body">
                                    <p>
                                        You are about to delete the <b>@Model.UserName</b> account for <b>@Model.UserFirstName @Model.UserLastName</b>. This action is undoable. Are you sure you want to do this?
                                    </p>
                                </div>
                                <div class="panel-footer clearfix">
                                    <div class="form-group">
                                        <div class="pull-right">
                                            <a href="@Url.Action("Index", "User")" class="btn btn btn-primary"><span class="fa fa-fw fa-chevron-left"></span><span> Cancel</span></a>
                                            <a href="@Url.Action("Detail", "User", new { id = @Model.UserId })" class="btn btn btn-primary"><span class="fa fa-fw fa-info"></span><span> Detail</span></a>
                                            <a href="@Url.Action("Edit", "User", new { id = @Model.UserId })" class="btn btn btn-primary"><span class="fa fa-fw fa-pencil"></span><span> Edit</span></a>
                                            <button type="submit" class="btn btn-danger"><span class="fa fa-fw fa-trash"></span> Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*--------------------------------------------------*@
            @*end: main content*@
            @*--------------------------------------------------*@
        </div>
    </div>
</div>
@section scripts
{

}