@model App.Web.Lib.ViewModels.UserVm.Detail
@{
    ViewBag.Title = "System User Detail";
}
<div class="page-container">
    <div class="container-fluid">
        <div class="body-content">
            @Html.Partial("_Alert")
            <div class="well well-sm clearfix">
                <p class="pull-left page-title">@ViewBag.Title</p>
                <p class="pull-right page-info">@*empty*@</p>
            </div>
            @*--------------------------------------------------*@
            @*begin: main content*@
            @*--------------------------------------------------*@
            <div class="main-content-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-centered">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="fa-stack">
                                    <i class="fa fa-fw fa-info "></i>
                                </span>
                                User Detail
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div>
                                        @Html.LabelFor(m => m.UserId)
                                        <div class="alert alert-info text-uppercase">
                                            <p>@Model.UserId</p>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.LabelFor(m => m.UserName)
                                        <div class="alert alert-info">
                                            <p>@Model.UserName</p>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.LabelFor(m => m.UserFirstName)
                                        <div class="alert alert-info">
                                            <p>@Model.UserFirstName</p>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.LabelFor(m => m.UserLastName)
                                        <div class="alert alert-info">
                                            <p>@Model.UserLastName</p>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.LabelFor(m => m.UserAlias)
                                        <div class="alert alert-info">
                                            <p>@Model.UserAlias</p>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.LabelFor(m => m.UserEmailAddress)
                                        <div class="alert alert-info">
                                            <p>@Model.UserEmailAddress</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading"><span class="fa-stack"><i class="fa fa-fw fa-wrench "></i></span>Settings</div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="fa fa-fw fa-caret-right"></span>
                                                    @if (@Model.UserLoginEnabled)
                                                    {
                                                        @:User Login Enabled
                                                    }
                                                    else
                                                    {
                                                        @:User Login Disabled
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <span class="fa-stack">
                                                <i class="fa fa-fw fa-key "></i>
                                            </span>
                                            Roles (@Model.UserRolesDetail.Count)
                                        </div>
                                        <div class="list-group">
                                            @if (@Model.UserRolesDetail.Any())
                                            {
                                                foreach (var i in Model.UserRolesDetail)
                                                {
                                                    <a href="@Url.Action("Detail", "SystemRole", new {id = @i.RoleId})" class="list-group-item"><span class="fa fa-fw fa-caret-right"></span><span> @i.RoleName</span></a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer clearfix">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <a href="@Url.Action("Index", "SystemUser")" class="btn btn btn-primary"><span class="fa fa-fw fa-chevron-left"></span><span> Cancel</span></a>
                                        <a href="@Url.Action("Edit", "SystemUser", new { id = @Model.UserId })" class="btn btn btn-primary"><span class="fa fa-fw fa-pencil"></span><span> Edit</span></a>
                                        <a href="@Url.Action("Delete", "SystemUser", new {id = @Model.UserId})" class="btn btn btn-danger"><span class="fa fa-fw fa-trash"></span><span> Delete</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*--------------------------------------------------*@
            @*end: main content*@
            @*--------------------------------------------------*@
        </div>
    </div>
</div>
@section scripts
{

}